.main {
	background-color: var(--color-background);
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 360px;
	height: auto;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card > img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.card > h2 {
	color: var(--color-text-heading);
	text-align: center;
	font-size: 24px;
}

.card > p {
	font-size: 16px;
	text-align: center;
	color: var(--color-text-body);
	line-height: 1.5;
}
