@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.main {
	background-color: rgb(207, 220, 236);
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 360px;
	height: auto;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card > img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.card > h2 {
	color: rgb(36, 44, 65);
	text-align: center;
	font-size: 24px;
}

.card > p {
	font-size: 16px;
	text-align: center;
	color: rgb(90, 95, 104);
	line-height: 1.5;
}
